**/.env
.idea/
vault-init.json

**/*.bak
# Local .terraform directories
**/.terraform
# .tfstate files
*.tfstate
*.tfstate.*
**/terraform.tfstate.backup
**/.terraform.lock.hcl

# Ignore sensitive files
*.pem
*.key
*.pub
*.tfvars
*.tfvars.json

# Crash log files
crash.log
crash.*.log